@import url('https://fonts.cdnfonts.com/css/pusab');

html, body{
    margin: 0;
    height: 100%;
}
.grad{
    font-family: 'Pusab', sans-serif;
    background-image: linear-gradient(to bottom, rgb(25, 107, 250), rgb(1, 75, 204));
}
.Geometry_Dash_Button:active {
    transform: scale(1.2);
}

.contain{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    padding: 1rem;
}

.Geometry_Dash_Button, .spacer{
    flex: 1;
    display: flex;
}

.spacer{
    visibility: hidden;
}

h1{
    flex: 2;
    margin: 0;
    color: white;
    text-align: center;
}

h2{
    background-image: linear-gradient(to bottom, rgb(221, 174, 35), rgb(255, 252, 83));
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    text-align: center;
    padding-top: 3px;
}
.video{
    text-align: center;
}

.deco_left{   
    display: flex;
    bottom: 0;
    justify-content: space-between;    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.deco_right{

}