body{
    background-color: darkgray;
    margin: 0;
}

logo{
    background-color: black;
    
}

header{

    text-align: center;
    color: white;

    padding-top: 1px;
    background-color: darkslategray;
    padding-bottom: 1px;
}

nav {
    background-image: none;
}