body{
    background-color: darkgray;
    margin: 0;
}

logo{
    background-color: black;
    padding-top: 15rem;
    padding-right : 23.2rem;
    padding-bottom: 1.35rem;
}

header{

    text-align: center;
    color: white;

    background-color: darkslategray;
}